/*
 phần dùng chunng (common) 
*/
body,
h1,
h2,
h3,
h4,
h5,
p {
    font-family: "Raleway", sans-serif
}



/*
 response web (tự động thay đổi tùy theo kích thước màn hình_thiết bị(desktop hay mobile)
 */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
/* ending responsive */
/* /////////////////////////////////////////////////////////////////////// */


body{
    background-color:     #F1F1F1;
}
/* căn giữa phần header */
header {
    text-align: center;
}

.entries{

    /* để phần "introduction menu" nổi bên phải cạnh nó */
    float: left;
}
.entry{
    /* tạo hiệu ứng nổi có viền mờ mờ */
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); 

    
    background-color: #fff!important; 
    margin: 16px!important;

}
.about{
    /* hiệu ứng nổi(k viền) */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    /* clear: both; */
}


.bold{
    background-color: black;
    color: white;
}
button{
    padding: 12px;
}

h5{
    font-size: 18px;
}
.float_right{
    float: right;
}

.container_content{
    padding: 16px;
}